@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgb(251, 164, 166);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  color: white;
}
.container .navbar {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 90%;
  font-size: clamp(7px, 7px + 0.3rem, 0.8rem);
  font-weight: 500;
  padding: 1em 1em;
  margin: 1em;
}
.container .title {
  margin-left: 4em;
  width: 65%;
}
.container .other {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.container .wrapper {
  display: flex;
  height: 80%;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.container .wrapper .hero {
  width: 60%;
  margin-left: 6em;
}
.container .wrapper .hero .hero-title {
  font-size: 5.9rem;
  margin-bottom: 0.02em;
}
.container .wrapper .hero .text {
  max-width: 32ch;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 2em;
  margin-top: 2em;
  line-height: 1.5;
}
.container .wrapper .hero button {
  width: 25%;
  padding: 1em;
  font-size: 1.3rem;
  border: none;
  border-radius: 9%;
  background-color: rgb(173, 13, 93);
  color: white;
  font-weight: 700;
}
.container .wrapper .cup-container {
  display: flex;
  width: 45%;
  justify-content: start;
}
.container .wrapper .cup-container img {
  transform: translateX(-6rem);
  height: 50vh;
  width: 50vw;
}

@media (min-width: 1276px) {
  .container .navbar {
    height: 12%;
    width: 90%;
    font-size: clamp(7px, 7px + 0.3rem, 0.8rem);
    padding: 1em 1em;
    margin: 1em;
  }
  .container .title {
    margin-left: 4em;
    width: 65%;
  }
  .container .wrapper .hero button {
    width: 35%;
  }
}
@media (max-width: 1276px) and (min-width: 768px) {
  .container .navbar {
    padding: 0.5em;
    margin: 0.3em;
    font-size: 0.7rem;
  }
  .container .title {
    margin-left: 0.2em;
  }
  .container .other {
    width: 50%;
  }
  .container .wrapper {
    height: 70%;
    width: 90%;
  }
  .container .wrapper .hero {
    width: 60%;
    margin-left: 0.2em;
  }
  .container .wrapper .hero .hero-title {
    font-size: 4rem;
    margin-bottom: 0.02em;
  }
  .container .wrapper .hero .text {
    font-size: 0.8em;
  }
  .container .wrapper .hero button {
    font-size: 0.7rem;
  }
  .container .wrapper .cup-container {
    width: 30%;
  }
  .container .wrapper .cup-container img {
    transform: translateX(-4rem);
    height: 40vh;
    width: 40vw;
  }
}
@media (max-width: 768px) and (min-width: 618px) {
  .container .navbar {
    padding: 0.5em;
    margin: 0.3em;
    font-size: 0.7rem;
  }
  .container .title {
    margin-left: 0.2em;
  }
  .container .other {
    width: 50%;
  }
  .container .wrapper .hero {
    width: 60%;
    margin-left: 0.2em;
  }
  .container .wrapper .hero .hero-title {
    font-size: 4rem;
    margin-bottom: 0.02em;
  }
  .container .wrapper .hero .text {
    font-size: 0.8em;
  }
  .container .wrapper .hero button {
    font-size: 0.7rem;
  }
  .container .wrapper .cup-container {
    width: 30%;
  }
  .container .wrapper .cup-container img {
    transform: translateX(-4rem);
    height: 40vh;
    width: 40vw;
  }
}
@media (max-width: 618px) {
  .container .navbar {
    padding: 0.5em;
    margin: 0.3em;
    font-size: 0.7rem;
  }
  .container .title {
    margin-left: 0.2em;
  }
  .container .other {
    width: 50%;
  }
  .container .wrapper {
    display: flex;
    height: 70%;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .container .wrapper .hero {
    width: 60%;
    margin-left: 0.08em;
  }
  .container .wrapper .hero .hero-title {
    font-size: 3rem;
    margin-bottom: 0.02em;
  }
  .container .wrapper .hero .text {
    font-size: 0.6em;
  }
  .container .wrapper .hero button {
    font-size: 0.7rem;
    width: 30%;
  }
  .container .wrapper .cup-container {
    width: 30%;
  }
  .container .wrapper .cup-container img {
    transform: translateX(-4rem);
    height: 40vh;
    width: 40vw;
  }
}/*# sourceMappingURL=style.css.map */