$post-blue: #1a8cd8;
$main-text: #e7e9ea;
*::after,
*::before,
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format("woff2");
    src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format("woff");
    font-weight: 800;
    font-style: "normal";
    font-display: "swap";
}
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format("woff2");
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format("woff");
    font-weight: 400;
    font-style: "normal";
    font-display: "swap";
}
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format("woff2");
    src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format("woff");
    font-weight: 500;
    font-style: "normal";
    font-display: "swap";
}
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format("woff2");
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format("woff");
    font-weight: 700;
    font-style: "normal";
    font-display: "swap";
}
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format("woff2");
    src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format("woff");
    font-weight: 800;
    font-style: "normal";
    font-display: "swap";
}
.container{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: TwitterChirp;
    img{
        transform: translateX(-200px);
    }
    h1{
        transform: translateX(-70px);
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #username,#password{
        transform: translateX(-7px);
        height: 6vh;
        width: 23%;
        margin-bottom: 15px;
        border: 2px solid $post-blue;
        border-radius: 3%;
    }
    #username::placeholder,
    #password::placeholder{
        color: black;
        padding-left: 5px;
    }

    button{
        width: 23%;
        transform: translateX(-7px);
        height: 4vh;
        border-radius: 25px;
        border: none;
        background-color: $post-blue;
        color: $main-text;
        font-weight: 600;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .forget-pass{
        display: flex;
        gap: 40px;
        font-size: 13px;
        h2{
            font-weight: 200;
            color: $post-blue;
            cursor: pointer;
        }
        
    }
}