@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

.main-container {
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(250, 248, 248);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(232, 232, 238);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .heading {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        flex-direction: column;
        padding: 2rem;
        line-height: 2rem;
        color: grey;
        margin-top: 1rem;

        .title {
            font-size: 7rem;
            margin: 3rem 0;
            font-family: "Lato", sans-serif;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            color: rgb(13, 12, 12);
        }

        .date {
            font-family: "Lato", sans-serif;
            font-size: 28px;
            margin-top: 0.5rem;
        }
        .conditions {
            font-family: "Lato", sans-serif;
            font-size: 28px;
            margin-top: 0.2rem;
        }
    }

    .details-container {
        height: 30vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1.5rem;
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        color: grey;

        .current-weather-left {
            display: flex;
            width: 50%;
            img {
                width: 20%;
                margin: -1.2rem 1rem 0 0;
            }
            span {
                font-size: 85px;
                line-height: 5rem;
                color: black;
                font: bold;
                margin: -1rem 0;
                span {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 40px;
                    margin-left: 0;
                }
            }
        }

        .current-weather-right {
            font-family: "Lato", sans-serif;
            font-family: "Roboto", sans-serif;
            width: 50%;
            font-weight: 400;
            font-size: 2.4rem;
            font-style: normal;
            line-height: 1.2;
            margin-bottom: 0.5rem;
            .weather-data {
                color: black;
            }
        }
    }

    .days-container {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;

        .card {
            height: 40vh;
            width: 12vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .day {
                color: rgb(32, 31, 31);
                font-weight: 700;
                font-size: 2rem;
            }

            .pollen {
                color: grey;
                font-size: 30px;
                font-weight: 600;
            }
            img {
                width: 75%;
            }
            .stats {
                width: 50%;
                font-family: "Lato", sans-serif;
                display: flex;
                font-size: 30px;
                padding-left: 1rem;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                #bold-black {
                    font: bold;
                    font-weight: 700;
                    color: black;
                }
            }
        }
    }
}
