.item-container {
    width: 73vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .title {
        font-size: 2rem;
        font-weight: 500;
    }
    .input-wrapper {
        display: flex;
        gap: 1em;
        width: max(30%, 290px);
        .add-input {
            padding: 0.5em 0.8em;
            width: 65%;
            outline: none;
            border-radius: 5px;
            border: 2px solid grey;
            font-size: 0.8rem;
        }
        .submit {
            padding: 0.5em 0.8em;
            font-size: 1rem;
            font-weight: 600;
            margin: auto;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
        }
    }
    .list-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 98%;
        padding: 0 0.5em;
        box-shadow: 2px;
        border: none;
        border-radius: 5px;
        overflow: scroll;
        .item-title {
            font-size: 1.8rem;
        }
        .no-items{
            width: 100%;
            height: 40%;
            margin: auto;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 600;
            color: rgb(208, 103, 62);
        }
    }
    .list-container::-webkit-scrollbar {
        display: none;
    }
}
