$quote-bg: #0c359e;
$tag-bg: #ee99c2;
$button-bg: #ffe3ca;
$main-bg: #f6f5f5;
.product{
    background-color: white;    
    width : 28%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    gap: 6px;
    .picture{
        height: 80%;
        width: 90%;
    }
    .name{
        font-size: 1rem;
        font-weight: 400;
        align-self: start;
    }
    .price{
        font-size: 1rem;
        font-weight: 400;
        align-self: flex-end;
    }
}