<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- only for mobail -->
      <!-- <div class="add-post-mobail">
        <div class="head-post-add">
          <div class="arrow-box">
            <img src="./twiiter base line images/icons/arrow.png" alt="arrow" />
          </div>
          <div class="post-button-box">
            <h4 class="draft">Drafts</h4>
            <button class="post-button" id="mobile-post-button">Post</button>
          </div>
        </div>
        <div class="post-area-wrapper">
          <img
            id="image"
            src="./twiiter base line images/Profile/profile pic.png"
            alt=""
          />
          <textarea
            class="post-input"
            placeholder="What is happening?!"
            id="mobile-post-input"
          ></textarea>
        </div>
        <div class="everyone">
          <img src="./twiiter base line images/icons/globe.png" alt="" />
          <h4>Everyone can reply</h4>
        </div>
        <div class="icon-greed">
          <img src="./twiiter base line images/icons/ic-1.png" alt="" />
          <img src="./twiiter base line images/icons/ic-2.png" alt="" />
          <img src="./twiiter base line images/icons/ic-3.png" alt="" />
          <img src="./twiiter base line images/icons/ic-4.png" alt="" />
          <img src="./twiiter base line images/icons/ic-5.png" alt="" />
        </div>
      </div> -->
      <!-- 1 -->
      <div class="left-side-space"></div>
      <!-- 2 -->
      <div class="navigation-section">
        <div class="logo-container">
          <img src="./twiiter base line images/logo/twitter.png" alt="" />
        </div>
        <div class="nav-item" onclick="onHome()">
          <img src="./twiiter base line images/logo/home.png" alt="" />
          <p>Home</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/search.png" alt="" />
          <p>Explore</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/noti.png" alt="" />
          <p>Notification</p>
        </div>
        <div class="nav-item" onclick="onMessages()">
          <img src="./twiiter base line images/logo/msg.png" alt="" />
          <p>Messages</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/grok.png" alt="" />
          <p>Grok</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/lists.png" alt="" />
          <p>Lists</p>
        </div>
        <div class="nav-item">
          <img
            src="./twiiter base line images/logo/bookmark.png"
            alt="bookmark"
          />
          <p>Bookmark</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/community.png" alt="" />
          <p>Communities</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/twitter.png" alt="" />
          <p>Premium</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/profile.png" alt="" />
          <p>Profile</p>
        </div>
        <div class="nav-item">
          <img src="./twiiter base line images/logo/more.png" alt="" />
          <p>More</p>
        </div>
        <div class="post-button">
          <button>Post</button>
        </div>
        <div class="profile">
          <div class="profile-icon">
            <img
              src="./twiiter base line images/Profile/profile pic.png"
              alt=""
              id="nav-profile"
            />
          </div>
          <div class="profile-info">
            <div class="name" id="nav-name">Nitesh Gupta</div>
            <div class="tag" id="nav-tag">@nit_hck</div>
          </div>
          <div class="three-dots">...</div>
        </div>
      </div>
      <!-- only for mobail -->
      <!-- <div class="navigation-section" id="navigation">
        <div class="nav-head-wrapper">
          <div class="nav-head">
            <img
              src="./twiiter base line images/Profile/profile pic.png"
              alt=""
              id="nav-exit"
            />
            <button>+</button>
          </div>
          <div class="name">Nitesh Gupta</div>
          <div class="tag">@nit_hck</div>
          <div class="follow-ing">
            <div class="following">
              <span>1 <span class="foloooow">Following</span></span>
            </div>
            <div class="follower">
              <span>0 <span class="foloooow">Following</span></span>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/profile.png"
              alt=""
            />
            <h2>Profile</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/premium.png"
              alt=""
            />
            <h2>Premium</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/list.png" alt="" />
            <h2>Lists</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/bookmark.png"
              alt=""
            />
            <h2>Bookmark</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/community.png"
              alt=""
            />
            <h2>Communities</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/moni.png" alt="" />
            <h2>Monetiztion</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/ads.png" alt="" />
            <h2>Ads</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/setting.png"
              alt=""
            />
            <h2>Settings and privacy</h2>
          </div>
          <div class="item" id="logout">
            <img
              src="./twiiter base line images/logo/mobeil/logout.png"
              alt=""
            />
            <h2>Logout</h2>
          </div>
          <div class="border"></div>
        </div>
      </div> -->
      <!-- 3 -->
      <!-- part of it -->
      <div class="middle-section">
        <div class="add-post-wrapper">
          <div class="profile">
            <img
              src="./twiiter base line images/Profile/profile pic.png"
              alt=""
              id="profile-tweetbox"
            />
          </div>
          <div class="box">
            <input
              type="text"
              placeholder="What is happening?"
              id="post-input"
            />
            <input
              id="media-input"
              type="file"
              style="display: none"
              accept="image/*"
            />
            <div class="media-input-display"></div>
            <div class="icon-grid">
              <img
                src="./twiiter base line images/icons/ic-1.png"
                alt="add image"
                class="icon"
                onclick="addMedia()"
              />
              <img
                src="./twiiter base line images/icons/ic-2.png"
                alt="add gif"
                class="icon"
              />
              <img
                src="./twiiter base line images/icons/ic-3.png"
                alt="add bullet"
                class="icon"
              />
              <img
                src="./twiiter base line images/icons/ic-4.png"
                alt="schedule"
                class="icon"
              />
              <img
                src="./twiiter base line images/icons/ic-5.png"
                alt="add location"
                class="icon"
              />
            </div>
            <button id="post-button">Post</button>
          </div>
        </div>
        <div class="posts"></div>
      </div>
      <div class="messages" style="display: none;">
        <div class="title">Messages</div>
        <div class="users">
          <div class="user">
            <img src="./twiiter base line images/Profile/p1.jpg" alt="">
            <div class="name" id="nav-name">Nitesh Gupta</div>
            <div class="tag" id="nav-tag">@nit_hck</div>
          </div>
        </div>
      </div>
      <div class="message-box" style="display: none;">
        <div class="msg-box-heading">
          Khush Patel
        </div>
        <div class="msg-container">
          <div class="message-wrapper">
            <div class="message">
              hey, how are you!
            </div>
            <div class="time">12:17</div>
          </div>
        </div>
        <div class="msg-input-div">
          <input type="text" placeholder="start a new message" id="message-input">
          <img src="./twiiter base line images/icons/send-dis.png" alt="" id="send">
        </div>
      </div>
      <div class="empty-div">
      <div class="last-section"></div>
      <div class="right-side-space"></div>
    </div>
    </div>
    <!-- <div class="mv-container">
      <div class="add-post-mobail">
        <div class="head-post-add">
          <div class="arrow-box">
            <img src="./twiiter base line images/icons/arrow.png" alt="arrow" />
          </div>
          <div class="post-button-box">
            <h4 class="draft">Drafts</h4>
            <button class="post-button" id="mobile-post-button">Post</button>
          </div>
        </div>
        <div class="post-area-wrapper">
          <img
            id="image"
            src="./twiiter base line images/Profile/profile pic.png"
            alt=""
          />
          <textarea
            class="post-input"
            placeholder="What is happening?!"
            id="mobile-post-input"
          ></textarea>
        </div>
        <div class="everyone">
          <img src="./twiiter base line images/icons/globe.png" alt="" />
          <h4>Everyone can reply</h4>
        </div>
        <div class="icon-greed">
          <img src="./twiiter base line images/icons/ic-1.png" alt="" />
          <img src="./twiiter base line images/icons/ic-2.png" alt="" />
          <img src="./twiiter base line images/icons/ic-3.png" alt="" />
          <img src="./twiiter base line images/icons/ic-4.png" alt="" />
          <img src="./twiiter base line images/icons/ic-5.png" alt="" />
        </div>
      </div>
      <div class="navigation-section" id="navigation">
        <div class="nav-head-wrapper">
          <div class="nav-head">
            <img
              src="./twiiter base line images/Profile/profile pic.png"
              alt=""
              id="nav-exit"
            />
            <button>+</button>
          </div>
          <div class="name">Nitesh Gupta</div>
          <div class="tag">@nit_hck</div>
          <div class="follow-ing">
            <div class="following">
              <span>1 <span class="foloooow">Following</span></span>
            </div>
            <div class="follower">
              <span>0 <span class="foloooow">Following</span></span>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/profile.png"
              alt=""
            />
            <h2>Profile</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/premium.png"
              alt=""
            />
            <h2>Premium</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/list.png" alt="" />
            <h2>Lists</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/bookmark.png"
              alt=""
            />
            <h2>Bookmark</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/community.png"
              alt=""
            />
            <h2>Communities</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/moni.png" alt="" />
            <h2>Monetiztion</h2>
          </div>
          <div class="item">
            <img src="./twiiter base line images/logo/mobeil/ads.png" alt="" />
            <h2>Ads</h2>
          </div>
          <div class="item">
            <img
              src="./twiiter base line images/logo/mobeil/setting.png"
              alt=""
            />
            <h2>Settings and privacy</h2>
          </div>
          <div class="item" id="logout">
            <img
              src="./twiiter base line images/logo/mobeil/logout.png"
              alt=""
            />
            <h2>Logout</h2>
          </div>
          <div class="border"></div>
        </div>
      </div>
      <button class="add-post floating-tweet-box-icon">+</button>
    </div> -->
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>
    <script src="./app.js"></script>
  </body>
</html>
